@model TestingApplication.Models.Employee

<h2>Add Employee</h2>

<form method="post">
    <div>
        <label>Emp ID</label>
        <input type="number" name="EmpID" required />
    </div>

    <div>
        <label>Name</label>
        <input type="text" name="EmpName" required />
    </div>

    <div>
        <label>Age</label>
        <input type="number" name="Age" required />
    </div>

    <div>
        <label>Phone</label>
        <input type="text" name="Phone_Number" required />
    </div>

    <div>
        <label>Address</label>
        <input type="text" name="Address" required />
    </div>

    <br />

    <button type="submit">Save</button>
</form>